@font-face
{
    font-family: 'mirage';
    src: url(polices/Mirage\ final.ttf) format('truetype');
}
body
{
    background-image: url(images/fondb.jpg); /* met une image en fond*/
    background-attachment: fixed; /*rend le fond fix*/
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'mirage';
}
header
{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0px;
}
nav
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
}
#selected, button:hover
{
    color: rgb(150, 9, 150);
    box-shadow: 0px 0px 7px inset rgb(150, 9, 150);
    border: 1px rgb(150, 9, 150) solid;
}
#titre
{
    font-size: 15em;
    text-shadow: 4px 4px 4px rgb(150, 9, 150);
    flex: 1;
    text-align: center;
    margin: 0px;
}

button
{
    font-size: larger;
    width: 8em;
    background-color: black;
    color: rgb(150, 9, 150);
    font-family: 'mirage';
    border-radius: 30%;
    box-shadow: 2px 2px 4px rgb(150, 9, 150);
}

p
{
    font-size: 1.25em;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px 0px black;
    text-align: justify;
}
#presentation
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#legend_lien
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
img
{
    width: 22em;
    height: 15em;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgb(150, 9, 150);
}
figcaption, h3
{
    color: black;
    text-shadow: 1px 1px 0px rgb(150, 9, 150);
    text-decoration: none;
}
#legend_lien:hover img
{
    box-shadow: 0px 0px 15px black;
}
#legend_lien:hover figcaption
{
    text-shadow: 1px 1px 2px blue;
}


/* Pour les pc portables*/


@media screen and (max-width: 1366px)
{
    #titre
    {
        font-size: 10em;
    }
    img
    {
        width: 20em;
    }
    figcaption
    {
        font-size: 1.5em;
    }
}