@font-face
{
    font-family: 'mirage';
    src: url(polices/Mirage\ final.ttf) format('truetype');
}
body
{
    background-image: url(images/fondb.jpg); /* met une image en fond*/
    background-attachment: fixed; /*rend le fond fix*/
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'mirage';
}
header
{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0px;
}
nav
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
}
#selected, button:hover
{
    color: rgb(150, 9, 150);
    box-shadow: 0px 0px 7px inset rgb(150, 9, 150);
    border: 1px rgb(150, 9, 150) solid;
}
#titre
{
    font-size: 15em;
    text-shadow: 4px 4px 4px rgb(150, 9, 150);
    flex: 1;
    text-align: center;
    margin: 0px;
}

button
{
    font-size: larger;
    width: 8em;
    background-color: black;
    color: rgb(150, 9, 150);
    font-family: 'mirage';
    border-radius: 30%;
    box-shadow: 2px 2px 4px rgb(150, 9, 150);
}

p, table
{
    font-size: 1.25em;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px 0px black;
    text-align: justify;
}
#presentation
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#legend_lien
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}
img
{
    width: 22em;
    height: 15em;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgb(150, 9, 150);
}
figcaption
{
    color: black;
    text-shadow: 1px 1px 0px rgb(150, 9, 150);
    text-decoration: none;
}
a:hover img
{
    box-shadow: 0px 0px 15px black;
}
#legend_lien:hover figcaption
{
    text-shadow: 1px 1px 2px blue;
}

/* Lexique */

td a, td a:visited
{
    text-decoration: none;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px 0px black;
    text-align: justify;
}
table
{
    border-collapse: collapse;
}
#sommaire
{
    box-shadow: 2px 2px 2px black;
    text-align: center;
}
#sommaire td, #sommaire th
{
    border: 2px black solid;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px 0px black;
    padding: 5px;
}
section1 td
{
    border-bottom: 2px black dashed;
    padding: 5px;
    text-align: left;
}
#sauce_tomate
{
    white-space: nowrap;
}

/*categories*/
#fiche
{
    display: flex;
}
article2 table
{
    margin-left: 1%;
}
#t_categories 
{
	position: relative;
    font-size: 100px;
    text-shadow: 4px 4px 4px rgb(150, 9, 150);
    text-align: center;
    margin-left: 36%;
    margin-bottom: 5%;
    padding-bottom: 0.6%;
    width: 25%;
    background-image: url(images/fondb.jpg); /* met une image en fond*/
    background-attachment: fixed;
    white-space: nowrap;
}
#t_categories:before, #t_categories:after 
{
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, rgb(150, 9, 150), blue);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

#t_categories:after {
	filter: blur(10px);
}
#do 
{
	position: relative;
    font-size: 100px;
    text-shadow: 4px 4px 4px rgb(150, 9, 150);
    text-align: center;
    margin-left: 30%;
    padding-right: 11%;
    padding-left: 0.8%;
    margin-bottom: 5%;
    padding-bottom: 0.5%;
    width: 25%;
    background-image: url(images/fondb.jpg); /* met une image en fond*/
    background-attachment: fixed;
    white-space: nowrap;
}
#do::before, #do:after 
{
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, rgb(150, 9, 150), blue);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

#do:after {
	filter: blur(10px);
}
#img_cate
{
    margin: 20px;
    width: 20em;
    height: 20em;
    border-radius: 100%;
}
#flex_img
{
    display: flex;
    justify-content: space-around;
}
 
/* Mythologie*/

#histoire
{
    border-radius: 0;
    box-shadow: 0px 0px 15px black;
    margin-right: 1%;
    width: 50em;
    height: auto;
    float: left;
}

/* Pour les pc portables*/


@media screen and (max-width: 1366px)
{
    #titre
    {
        font-size: 10em;
    }
    img
    {
        width: 20em;
    }
    figcaption
    {
        font-size: 1.5em;
    }
    table
    {
        margin-top: 10px;
    }
}

@media all and (max-width:1000px)
{
    header
    {
        flex-direction: column;
    }
    #titre
    {
        font-size: 7em;
        text-align: center;

    }
    nav
    {
        flex-direction: row;
        justify-content: space-between;
    }
    button
    {
        font-size: 4em;
        width: 3.5em;
    }
}